# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/backend/node_modules
/frontend/node_modules

# Build outputs
dist
dist-ssr
/frontend/dist
/build

# Environment variables
.env
.env.local
.env.*.local
/backend/.env
/frontend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.local
/backend/uploads/*
!/backend/uploads/.gitkeep
/videoTranscript/tmp_uploads/*
/videoTranscript/extracted_audio/*
/videoTranscript/__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/

# Vercel
.vercel

# Docker
.dockerignore
.env*.local
